@tailwind base;
@tailwind components;
@tailwind utilities;

.tSelect {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.5L4.5 3.5L1 0.499999' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right .875rem;
  appearance: none;
}

.tButton {
  background-color: #0D0D0D;
  color: white;
  @apply rounded-lg;
}